.open-sans-font{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.h3design{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
a{
    text-decoration: none;
}
.list-item{
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
/* Background-image-bg */
.background-img{
    background-image: url("../portfolio-resources/images/developer.png"),url("../portfolio-resources/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: left,bottom right;
}
.bg-color{
    background-color: #FFF8F3;
    text-align: center;
    
}
.bg-cl{
    background-color: #FFF8F3;
    max-width: 1140px;
    margin:0 auto ;
    padding: 131px 156px 131px 157px;
    margin-top:130px;
}
.background-color{
    background-color: white;
}

/* flex */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.navigation-bar{
    display: flex;
    gap:45px ;
    align-items: center;
}
.flex-content{
    display: flex;
    gap: 163px;
    justify-content: space-between;
    margin:0 auto;
}

nav ul li{
    list-style: none;
}
/* button */
.hire{
    background-color: #FD6E0A;
    padding: 18px 35px 18px 36px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight:700 ;
}
.contact{
    border: 3px solid #FD6E0A;
    background-color: white;
    padding: 18px 20px 17px 20px;
    border-radius: 5px;
    
}
.padding{
    font-size: 20px;
    font-weight: 700;
    
}
.h4{
    color: #474747;
    font-size: 45px;
    font-weight:600 ;
}
.h1{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
}
.bio{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}
/* about section */
.about{
    color: #181818;
    font-size:35px ;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
    padding-bottom: 30px;
}
.about2{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
}
.about3{
    display: flex;
    justify-content: space-around;
    padding-bottom: 0;
}
/* tittle section */
.tittle{
    color: #757575;
    font-size: 20px;
    font-weight:400 ;
}
.tittle2{
    color: #474747;
    font-size:20px ;
    font-weight: 700;
}

/* skills container */
.skill-container{
    display: flex;
    gap: 24px;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;  
}
.skills{
    transition: 1s;
}
.skill:hover{
    transform: scale(1.03);
}
.skill{
    width: 267px;
    height: 377px;
    padding: 30px;
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin: 0 auto;
    max-width: 1140px;
    
}
.section-description{
    color: #757575;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    width: 909px;
    margin: 0 auto;
}
/* .text-center{
    width: 909px;
    margin-left: 345px;
} */
.section-tittle{
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    
}